.App{
    height: auto;
}
header{
    height: 0100vh;
}
nav{
    height: 36px;
}
.welnote{
    height: 275px;
}
.mq{
    height: 280px;
}
.Landing{
    height: 0;
}
.Yellowdiv{
    height: 1160px;
}
.Playingcard{
    height: 100vh;
}
.Featured{
    height: 680px;
}
.Reviews{
    height:400px ;
}
.Card{
    height: 400px;
}
.Frame{
    height: 760px;
}
footer{
    height: 0;
}