.App{
    height: auto;
}
header{
    height: 0100vh;
}
nav{
    height: 36px;
}
.mq{
    height: 280px;
}
.Landing{
    height: 0;
}
.Yellowdiv{
    height: 1160px;
}
.Playingcard{
    height: 100vh;
}

.Frame{
    height: 760px;
}
