.Readmore{
    height: 100vh;
    width: 100%;
    background-color: black;
    color:white;
    .heading{
        text-align: center;
        color: greenyellow;
        border-bottom: 1px solid wheat;
    }
    .summary{
        border: 1px solid white;
        padding: 2%;
    }
    .content{
        padding: 1% 10%;
    }
}